In [1]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [2]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

Py4JJavaError: An error occurred while calling None.org.apache.spark.api.java.JavaSparkContext.
: java.lang.UnsupportedOperationException: getSubject is supported only if a security manager is allowed
	at java.base/javax.security.auth.Subject.getSubject(Subject.java:347)
	at org.apache.hadoop.security.UserGroupInformation.getCurrentUser(UserGroupInformation.java:577)
	at org.apache.spark.util.Utils$.$anonfun$getCurrentUserName$1(Utils.scala:2416)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.util.Utils$.getCurrentUserName(Utils.scala:2416)
	at org.apache.spark.SparkContext.<init>(SparkContext.scala:329)
	at org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
	at java.base/jdk.internal.reflect.DirectConstructorHandleAccessor.newInstance(DirectConstructorHandleAccessor.java:62)
	at java.base/java.lang.reflect.Constructor.newInstanceWithCaller(Constructor.java:501)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:485)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:238)
	at py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
	at py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1575)

In [ ]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

In [3]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView("home_sales")

NameError: name 'df' is not defined

In [4]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
query_3 = """
SELECT YEAR(date) AS year, ROUND(AVG(price), 2) AS avg_price
FROM home_sales
WHERE bedrooms = 4
GROUP BY YEAR(date)
ORDER BY year
"""
avg_price_4_bedrooms = spark.sql(query_3)
print("Average price for a four-bedroom house sold per year:")
avg_price_4_bedrooms.show()

NameError: name 'spark' is not defined

In [5]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
query_4 = """
SELECT yr_built, ROUND(AVG(price), 2) AS avg_price
FROM home_sales
WHERE bedrooms = 3 AND bathrooms = 3
GROUP BY yr_built
ORDER BY yr_built
"""
avg_price_3_beds_3_baths = spark.sql(query_4)
print("Average price of a home for each year the home was built (3 beds, 3 baths):")
avg_price_3_beds_3_baths.show()

NameError: name 'spark' is not defined

In [6]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
query_5 = """
SELECT yr_built, ROUND(AVG(price), 2) AS avg_price
FROM home_sales
WHERE bedrooms = 3 AND bathrooms = 3 AND floors = 2 AND sqft_living >= 2000
GROUP BY yr_built
ORDER BY yr_built
"""
avg_price_3_beds_3_baths_2_floors = spark.sql(query_5)
print("Average price of a home for each year the home was built (3 beds, 3 baths, 2 floors, >=2000 sqft):")
avg_price_3_beds_3_baths_2_floors.show()

NameError: name 'spark' is not defined

In [7]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating. 
# Although this is a small dataset, determine the run time for this query.
query_6 = """
SELECT view, ROUND(AVG(price), 2) AS avg_price
FROM home_sales
GROUP BY view
HAVING AVG(price) >= 350000
ORDER BY avg_price DESC
"""
avg_price_per_view = spark.sql(query_6)
print("Average price of a home per 'view' rating (avg price >= $350,000), ordered by descending view rating:")
avg_price_per_view.show()
start_time = time.time()



print("--- %s seconds ---" % (time.time() - start_time))

NameError: name 'spark' is not defined

In [8]:
# 7. Cache the the temporary table home_sales.
spark.sql("CACHE TABLE home_sales")

NameError: name 'spark' is not defined

In [ ]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

In [12]:
# 9. Using the cached data, run the last query above, that calculates 
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000. 
# Determine the runtime and compare it to the uncached runtime.

start_time = time.time()
cached_query = """
SELECT view, ROUND(AVG(price), 2) AS avg_price
FROM home_sales
GROUP BY view
HAVING AVG(price) >= 350000
ORDER BY avg_price DESC
"""
cached_result = spark.sql(cached_query)
print("Query results using cached data:")
cached_result.show()



print("--- %s seconds ---" % (time.time() - start_time))

NameError: name 'spark' is not defined

In [9]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data 
parquet_path = "home_sales_parquet"
df.write.partitionBy("yr_built").parquet(parquet_path, mode="overwrite")
print(f"Parquet data written to {parquet_path}, partitioned by 'yr_built'.")

NameError: name 'df' is not defined

In [10]:
# 11. Read the formatted parquet data.
parquet_df = spark.read.parquet(parquet_path)

NameError: name 'spark' is not defined

In [11]:
# 12. Create a temporary table for the parquet data.
parquet_df.createOrReplaceTempView("home_sales_parquet")

NameError: name 'parquet_df' is not defined

In [13]:
# 13. Using the parquet DataFrame, run the last query above, that calculates 
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000. 
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()
parquet_query = """
SELECT view, ROUND(AVG(price), 2) AS avg_price
FROM home_sales_parquet
GROUP BY view
HAVING AVG(price) >= 350000
ORDER BY avg_price DESC
"""
parquet_result = spark.sql(parquet_query)
print("Query results using Parquet data:")
parquet_result.show()


print("--- %s seconds ---" % (time.time() - start_time))

NameError: name 'spark' is not defined

In [14]:
# 14. Uncache the home_sales temporary table.
spark.sql("UNCACHE TABLE home_sales")
print("Home_sales table uncached.")

NameError: name 'spark' is not defined

In [15]:
# 15. Check if the home_sales is no longer cached
print("Is home_sales table cached?")
print(spark.catalog.isCached("home_sales"))

Is home_sales table cached?

NameError: name 'spark' is not defined